{% extends 'base.html.twig' %}

{% block title %}Reset Password !{% endblock %}

{% block body %}
    <div class="container page-site">
        <div class="my-5">
            <form method="post">
                <h1 class="h3 mb-3 font-weight-normal">Veuillez saisir votre nouveau mot de passe</h1>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control col-md-5"
                       placeholder="6 caractères minimum dont au moins une lettre et un chiffre" required>
                <input type="hidden" name="token" value="{token}">
                <br/>
                <input type="password" name="confirm_password" class="form-control col-md-5"
                       placeholder="Veuillez confirmer votre mot de passe" required>
                <br/>
                <button class="btn btn-lg btn-primary" type="submit">
                    Register
                </button>
            </form>
        </div>
    </div>
{% endblock %}